.keyContainer {
  display: flex;
  height: 52px;
  position: relative;
  user-select: none;
}

.keySvg {
  width: 100%;
  height: 100%;
  overflow: visible;
  filter: drop-shadow(0 1.5px 1.5px var(--key-shadow));
}

.keySvg.pressed {
  filter: none;
}

.labelText {
  font-family: inherit;
  font-size: 14.5px;
  font-weight: 600;
  fill: var(--key-normal-text);
  pointer-events: none;
  transition: fill 0.05s ease;
}

.specialLabelText {
  font-size: 10px;
  font-weight: 500;
  fill: var(--key-special-text);
  letter-spacing: 0.5px;
}

.pressedLabelText {
  fill: var(--key-pressed-text) !important;
}

.pressedLabelTextDark {
  fill: var(--key-pressed-text) !important;
}

.shiftLabelText {
  font-family: inherit;
  font-size: 9.5px;
  font-weight: 500;
  fill: var(--key-special-text);
  pointer-events: none;
  transition: fill 0.05s ease;
}

.mainLabelTextWithShift {
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  fill: var(--key-normal-text);
  pointer-events: none;
  transition: fill 0.05s ease;
}
